@font-face {
    font-family: "bold";
    src: url(/src/font/Inter-SemiBold.otf);
}

@font-face {
    font-family: "medium";
    src: url(/src/font/Inter-Medium.otf);
}

@font-face {
    font-family: "regular";
    src: url(/src/font//Inter-Regular.otf);
}

* {
    margin: 0;
    padding: 0;
    
}

body {
    font-family: 'regular';
    line-height: 1.6;
    background-color: white;
}

/* Header */

header{
    background-color: #FAFAFA;
    border-bottom: solid  #E5E5E5 2px ;
}

header a{
    font-family: medium;
}

.wrapper {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
}

#head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
}

.logo img {
    width: 100%;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-links li {
    display: flex;
    align-items: center;
}

.nav-links a {
    text-decoration: none;
}

.nav-links p{
    font-family: medium;
    font-size: 1rem;
    color: black;
}

.icons {
    display: flex;
    gap: 10px;
}

.icons img {
    width: 50px;
} 

/* info */

.info{
    display: flex;
    height: 250px;
    width: 100%;
    background-image: url('/src/img/news/back.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
}

.pagination{
    margin-left: 20%;
    margin-top: 2%;
}

.pagination a{
    text-decoration: none;
    font-family: medium;
    font-size: 1rem;
    color: black;
}

.cat{
    position: relative;
    margin-top: 15%;
    width: 450px;
}

.cat h1 span {
    text-decoration: underline 5px;
    text-decoration-color: #FFA630; /* Цвет подчеркивания */
}

.cat h1{
    font-family: bold;
    font-size: 36px;
}

.cat p{
    margin-top: 20%;
    font-family: regular;
    font-size: 1rem;
}

/* contact */

.contact{
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}

.adress, .telephon, .post{
    height: 190px;
}

.adress h3, .telephon h3, .post h3{
    color: #FFA630;
    font-family: bold;
    font-size: 1rem;
}

.below{
    margin-top: 20px;
    height: 60px;
}

.adress p, .post p, .telephon p{
    font-family: 'regular';
    font-size: 0.8rem;
}

.telephon p{
    margin-bottom: 20%;
}

/* intelligence */

.intelligence{
    display: flex;
    justify-content: space-between;
}

.left{
    display: flex;
    width: 720px;
}

.left img{
    height: 100%;
}

.left_txt{
    margin-left: 15%;
}

.left_txt h3{
    font-family: bold;
    font-size: 1.5rem;
    margin-bottom: 5%;
}

.left_txt p{
    font-family: medium;
    font-size: 1rem;
    color: #00b894;
}

.down_left{
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
    color: black;
}

.down_left p{
    color: black;
}

img#networks{
    width: 35px;
}

.right img{
    margin-top: 20%;
}

.up_right, .down_right{
    display: flex;
}

.up_right p, .down_right p{
    font-family: regular;
    font-size: 1rem;
    margin-left: 5%;
    margin-top: 5%;
}

p#time{
    font-family: bold;
    color: #00b894;
    margin-left: 20%;
}

/* map */

.map{
    display: flex;
    justify-content: center;  /* Центрируем по горизонтали */
    align-items: center;      /* Центрируем по вертикали */
    width: 100%;              /* Растягиваем контейнер по ширине */
    height: 100vh;            /* Задаем высоту 100% от высоты экрана */
    margin: 0;                /* Убираем отступы */
    padding: 0;               /* Убираем внутренние отступы */
}

/* FAQ */

.faq{
    margin-top: 10%;
}

.faq h1{
font-family: bold;
font-size: 36px;
}

.faq h1 span {
    text-decoration: underline 5px;
    text-decoration-color: #FFA630; /* Цвет подчеркивания */
}

.faq_section{
    display: flex;
    justify-content: space-between;
}

.faq_section1{
    width: 45%;
    margin-top: 5%;
}

.faq_section1 details[open] .icon {
    content: url('../img/arrow_up.svg'); /* Замена иконки на "минус" */
}

.faq_section1 summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5%;
    padding-top: 5%;
    border-top: 2px solid #B3B3B3;
}

.faq_section1 span{
    font-family: bold;
    font-size: 1.13rem;
}

.faq_section1 p{
    font-family: regular;
    font-size: 1.13rem;
    color: #B3B3B3;
    margin-top: 5%;
}

/* Contact */

.contact_form {
    display: flex;
    background-size: cover;
    background-position: center;
    background-image: url('../img/main/help.svg'); 
    margin-top: 10%;
    border-radius: 30px;
    padding: 40px 100px; /* Отступы внутри формы */
}

.contact_txt{
    width: 50%;
}
.contact_form h2 {
    font-size: 36px; /* Размер заголовка */
    margin-bottom: 20px; /* Отступ снизу */
    color: white;
}

.contact_form p{
    font-family: regular;
    font-size: 14px;
    color: #487B6C;
    padding-top: 10%;
}

.contact_form h2 span {
    text-decoration: underline 5px;
    text-decoration-color: #487B6C; /* Цвет подчеркивания */
}

.contact_form form{
    margin-left: 10%;
}

.contact_form label {  
    font-family: medium;
    font-size: 12px;
    color: #487B6C;
}

.contact_form input {
    display: flex;
    width: 300px; /* Полная ширина поля */
    padding: 10px; /* Отступы внутри поля */
    margin: 10px 0; /* Отступы сверху и снизу */
    border: none; /* Без границ */
    border-radius: 5px; /* Скругление углов */
}

.contact_form button{
    display: inline-flex;
    align-items: center; /* Центрирует содержимое по вертикали */
    justify-content: center; /* Центрирует содержимое по горизонтали */
    cursor: pointer;
    border: none;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    color: #487B6C; 
    font-family: medium;
}

.contact_form button:hover {
    background-color: #f0f0f0; /* Цвет кнопки при наведении */
}

.contact_form button img{
    margin-left: 25%;
}

.contact_form p {
    font-size: 12px; /* Размер текста для информации */
    margin-top: 15px; /* Отступ сверху */
}

/* Footer */

/* Общие стили футера */
footer {
    background-color: #F2F2F2;
    padding: 20px 0;
    font-family: Arial, sans-serif;
    margin-top: 10%;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.footer-logo {
    flex: 1;
}

.logo-img {
    max-width: 100px;
}

.footer-links {
    display: flex;
    flex: 3;
    justify-content: space-between;
}

.footer-column h4 {
    font-size: 14px;
    margin-bottom: 10px;
    color: black;
    font-family: medium;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 5px;
}

.footer-column ul li a {
    text-decoration: none;
    color: black;
    font-family: regular;
    font-size: 14px;
    transition: color 0.3s;
}

.footer-column ul li a:hover {
    color: #00b894;
}

.footer-contact {
    flex: 1;
    text-align: center;
}

.social-icons a {
    margin: 0 5px;
    display: inline-block;
}

.contact-info p {
    margin: 5px 0;
    font-size: 14px;
}